<div class="center hero-unit">
  <h1>Welcome to your Dashboard</h1>
  <div class='row'>
    <div class="panel panel-info col-md-6" style="padding: 0;">
      <div class="panel-heading">
        <h3 class="panel-title">Devices
        </h3>
      </div>
      <div class="panel-body" style="text-align: left;">
        <ul class="list-group">
          <% @devices.each do |device| %>
            <li class="list-group-item"><%= device.name %></li>
          <% end %>
        </ul>             
      </div>
    </div>
    <div class="panel panel-info col-md-6" style="padding: 0;">
      <div class="panel-heading">
        <h3 class="panel-title">Event History
        </h3>
        <%= link_to "+", new_event_path, class: 'btn btn-primary btn-xs circle' %>
      </div>
      <div class="panel-body" style="text-align: left">
        <ul class="list-group">
          <% @events.each do |event| %>
            <li class="list-group-item">
              <span>When </span><%= event.trigger_device %><span> is </span><%= event.trigger_device_status %><span> turn </span><%= event.affected_device %><span>  </span><%= event.affected_device_status %>
              <%= link_to "", event, method: :delete,
                                       data: { confirm: "You sure?" }, class: 'fa fa-trash-o' %>
              <%= link_to "", edit_event_path(event), class: 'fa fa-pencil' %>

              <!-- <i class="fa fa-pencil" data-toggle="modal" data-target="#updateEventModal"></i> -->
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <%= render 'newEventModal.html.erb' %>
  <%= render 'updateEventModal.html.erb' %>
</div>